<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="LOG_LEVEL" source="logging.level.root" defaultValue="TRACE"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING-FILE-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE}_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="ASYNC-FILE-APPENDER" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ROLLING-FILE-APPENDER"/>
    </appender>

    <springProfile name="dev">
        <logger name="com.carpediem.skeleton" level="${LOG_LEVEL}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ASYNC-FILE-APPENDER"/>
        </logger>
    </springProfile>

    <springProfile name="prod">
        <logger name="com.carpediem.skeleton" level="${LOG_LEVEL}">
            <appender-ref ref="ASYNC-FILE-APPENDER"/>
        </logger>
    </springProfile>

</configuration>